@{
    Layout = null;
    Pizza pizzaBoscaiola = new Pizza("Boscaiola", "Funghi e salsiccia", "pizza-boscaiola.jpg", 9.00);
    Pizza pizzaCapricciosa = new Pizza("Capricciosa", "Funghi, salsiccia, uova, prosciutto crudo", "capricciosa.jfif", 12.00);
    Pizza pizzaDiavola = new Pizza("Diavola", "Salame piccante", "diavola.jfif", 8.00);

    List<Pizza> pizzaList = new List<Pizza> { pizzaBoscaiola, pizzaCapricciosa, pizzaDiavola };
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<a class="nav-link" asp-area="" asp-controller="Exercises" asp-action="Index">Esercizi Razor</a>
<ul class="d-flex">
    @foreach (Pizza pizza in pizzaList)
    {
        <li class="card m-4" style="width: 15rem; list-style: none">
                <img style="width: 100%" src="~/Image/@pizza.Image">
            <div class="card-body">
                    <h2 class="card-title text-danger">Pizza @pizza.Name</h2>
                <p class="card-text">Descrizione: @pizza.Ingredients</p>
                <span class="mb-5">Prezzo: € @pizza.Price</span>
            </div>
        </li>
    }
</ul>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
